node_modules/is-promise/index.d.ts
node_modules/is-promise/index.js
node_modules/is-promise/index.mjs
node_modules/is-promise/LICENSE
node_modules/is-promise/package.json
node_modules/is-promise/readme.md
